{% extends "smartmin/list.html" %}
{% load smartmin i18n %}

{% block table-controls %}
  <div class='clearfix'>
    <div class='pull-back'>
      <form class='form-inline' role='form'>
        <input class='form-control input-medium search-query' type='text' name='search' value='{{ search }}' />
        <button class='btn btn-default' type='submit'>
          {% trans "Search" %}

        </button>
      </form>
    </div>
    <div class='pull-away buttons'>
      {% if org_perms.contacts.contact_create %}
        <a class='btn btn-default pull-right' href='{% url 'contacts.contact_create' %}'>
          <span class='glyphicon glyphicon-plus'></span>
          {% trans "Add" %}
        </a>
      {% endif %}
    </div>
  </div>
{% endblock %}
