- extends "smartmin/list.html"
- load smartmin i18n

- block table-controls
  .clearfix
    .pull-back
      %form.form-inline{ role:"form" }
        %input.form-control.input-medium.search-query{ type:"text", name:"search", value:"{{ search }}" }
        %button.btn.btn-default{ type:"submit" }
          - trans "Search"

    .pull-away.buttons
      - if org_perms.contacts.contact_create
        %a.btn.btn-default.pull-right{ href:"{% url 'contacts.contact_create' %}" }
          %span.glyphicon.glyphicon-plus
          - trans "Add"