- extends "smartmin/base.html"
- load smartmin i18n

- block content

  %ul.nav.nav-tabs{ style:"margin-bottom: 1em" }
    %li.active
      %a{ href:"{% url 'polls.issue_read' object.pk %}" }
        - trans "Summary"
    %li
      %a{ href:"{% url 'polls.response_filter' object.pk %}" }
        - trans "Responses"

  .well
    .row
      .col-md-4
        - trans "Empty Responses:"
        {{ response_counts.E }}
      .col-md-4
        - trans "Partial Responses:"
        {{ response_counts.P }}
      .col-md-4
        - trans "Complete Responses:"
        {{ response_counts.C }}

  - for question in questions
    %h3
      {{ question.order }}. {{ question.text }}

    .{ style:"border: 3px dashed #DDD; padding: 3em" }
      Swanky chart goes here

