- load i18n
- load trac

.page-header
  %h2
    {{ issue }}
  %ul.issue-details
    %li
      %strong><
        - trans "Region"
      :
      - if issue.region
        {{ issue.region }}
      - else
        - trans "All"
    %li
      %strong><
        - trans "Poll"
      :
      %a{ href:"{% url 'polls.poll_read' issue.poll.pk %}" }
        {{ issue.poll }}
    %li
      %strong><
        - trans "Started by"
      :
      - if issue.created_by_id
        {{ issue.created_by }}
      - else
        - trans "RapidPro"

%ul.nav.nav-tabs{ style:"margin-bottom: 1em" }
  %li{ class:"{% if_url 'polls.issue_read' 'active' '' %}" }
    %a{ href:"{% url 'polls.issue_read' issue.pk %}" }
      - trans "Summary"
  %li{ class:"{% if_url 'polls.issue_participation' 'active' '' %}" }
    %a{ href:"{% url 'polls.issue_participation' issue.pk %}" }
      - trans "Participation"
  %li{ class:"{% if_url 'polls.response_by_issue' 'active' '' %}" }
    %a{ href:"{% url 'polls.response_by_issue' issue.pk %}" }
      - trans "Responses"


:css
  ul.issue-details {
    margin: 0;
    padding: 0;
  }
  ul.issue-details li {
    display: inline-block;
    margin: 5px;
    padding: 0;
    list-style: none;
  }
