- extends "smartmin/base.html"
- load smartmin i18n

- block pre-content

  {% include 'polls/issue_header.haml' with issue=object %}

- block content

  - for question in questions
    %h3
      {{ question.order }}. {{ question.text }}

    .chart{ data-question-id:"{{ question.pk }}", data-chart-type:"{{ question.chart_type }}", dir:"ltr" }

    %script{ type:"text/javascript" }
      var chart_{{ question.pk }}_data = {{ question.chart_data }};
