- extends "smartmin/base.html"
- load smartmin i18n

- block pre-content

  {% include 'polls/issue_header.haml' with issue=object %}

- block content

  - for question in questions
    %h3
      {{ question.order }}. {{ question.text }}

    .chart{ data-chart-type:"pie", data-question-id:"{{ question.pk }}", dir:"ltr" }

    %script{ type:"text/javascript" }
      var chart_{{ question.pk }}_data = {{ question.chart_data }};


- block extra-script
  :javascript
    $(function() {
      $('.chart').each(function() {
        var container = $(this);
        var chart_type = container.data('chart-type');
        var question_id = container.data('question-id');
        var data = eval('chart_' + question_id + '_data');

        if (data && data.length > 0) {
          if (chart_type == 'pie') {
            init_chart_pie(container, data);
          }
        }
        else {
          init_chart_nodata(container);
        }
      });
    });

    function init_chart_pie(container, data) {
      container.highcharts({
        title: null,
        tooltip: { enabled: false },
        plotOptions: {
          pie: {
            dataLabels: {
              enabled: true,
              format: '<b>{point.name}</b>: {point.percentage:.1f} %',
              style: {
                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
              }
            }
          }
        },
        series: [{type: 'pie', data: data}],
        credits: { enabled: false }
      });
    }

    function init_chart_nodata(container) {
      container.addClass('chart-no-data');
      container.text("No data")
    }

- block extra-style
    {{ block.super }}
    :css
      .chart {
        min-width: 320px;
        max-width: 600px;
        height: 320px;
        margin: 0 auto
      }
      .chart-no-data {
        border: 2px dashed #DDDDDD;
        padding: 1em;
        height: auto !important;
        font-size: 20px;
        color: #DDDDDD;
        text-align: center;
      }
