- load i18n
- load polls

.page-header
  %h2
    {{ issue }}

%ul.nav.nav-tabs{ style:"margin-bottom: 1em" }
  %li{ class:"{% if_url 'polls.issue_read' 'active' '' %}" }
    %a{ href:"{% url 'polls.issue_read' issue.pk %}" }
      - trans "Summary"
  %li{ class:"{% if_url 'polls.issue_participation' 'active' '' %}" }
    %a{ href:"{% url 'polls.issue_participation' issue.pk %}" }
      - trans "Participation"
  %li{ class:"{% if_url 'polls.response_filter' 'active' '' %}" }
    %a{ href:"{% url 'polls.response_filter' issue.pk %}" }
      - trans "Responses"