- extends "smartmin/base.html"
- load smartmin i18n

- block pre-content

  {% include 'polls/poll_header.haml' with poll=object %}

- block content

  .
    - if not request.region
      - trans "Charts only include data from non-regional issues"

    .pull-away
      %form.form-inline{ method:"get" }
        %label.control-label{ for:"window-select" }
        - trans "Show"
        %select.form-control{ id:"window-select", name:"window", onchange:"onChartWindowChange(this)" }
          - for win in window_options
            - if win == window
              %option{ value:"{{ win.name }}", selected:"selected" }
                {{ win.label }}
            - else
              %option{ value:"{{ win.name }}" }
                {{ win.label }}


  - for question in questions
    %h3
      {{ question.order }}. {{ question.text }}

    .chart{ data-question-id:"{{ question.pk }}", data-question-type:"{{ question.type }}", data-window-min:"{{ window_min }}", data-window-max:"{{ window_max }}", dir:"ltr" }

    %script{ type:"text/javascript" }
      var chart_{{ question.pk }}_series = {{ question.chart_data }};


- block extra-script
  :javascript
    $(function() {
      $('.chart').each(function() {
        var container = $(this);
        var question_id = container.data('question-id');
        var question_type = container.data('question-type');
        var window_min = container.data('window-min');
        var window_max = container.data('window-max');
        var series = eval('chart_' + question_id + '_series');

        if (series && series.length > 0) {
          /* TODO vary chart type based on question type */
          init_chart_trend(container, series, window_min, window_max);
        }
        else {
          init_chart_nodata(container);
        }
      });
    });

    function init_chart_trend(container, series, window_min, window_max) {
      container.highcharts({
        chart: { type: 'area' },
        title: null,
        xAxis: {
            type: 'datetime',
            title: { enabled: false },
            min: window_min,
            max: window_max
        },
        yAxis: {
            title: {
                text: 'Percent'
            }
        },
        tooltip: {
            xDateFormat: '%b %d, %Y',
            pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.percentage:.1f}%</b> ({point.y:,.0f})<br/>',
            shared: true
        },
        plotOptions: {
            area: {
                stacking: 'percent',
                lineColor: '#ffffff',
                lineWidth: 1,
                marker: {
                    lineWidth: 1,
                    lineColor: '#ffffff'
                }
            }
        },
        series: series,
        credits: { enabled: false }
      });
    }

    function init_chart_nodata(container) {
      container.addClass('chart-no-data');
      container.text("No data")
    }

    function onChartWindowChange(ctrl) {
      ctrl.form.submit();
    }

- block extra-style
    {{ block.super }}
    :css
      .chart {
        min-width: 320px;
        max-width: 700px;
        height: 320px;
        margin: 0 auto
      }
      .chart-no-data {
        border: 2px dashed #DDDDDD;
        padding: 1em;
        height: auto !important;
        font-size: 20px;
        color: #DDDDDD;
        text-align: center;
      }
