- extends "smartmin/list.html"
- load smartmin i18n

- block pre-content
  .page-header
    %h2
      {{ title }}
  - if request.region and not issue.region
    - blocktrans with region=request.region
      These are the responses for <strong>{{ region }}</strong>. Poll was also conducted in other regions.

- block table-buttons
  .btn-group.pull-right
    %a.btn.btn-default{ type:"button", data-toggle:"modal", data-target:"#send-message-dialog" }
      %span.glyphicon.glyphicon-comment
      - trans "Send Message..."
    - if can_restart
      %a.btn.btn-default{ type:"button", data-toggle:"modal", data-target:"#restart-dialog" }
        %span.glyphicon.glyphicon-repeat
        - trans "Restart..."

  .modal.fade{ role:"dialog", id:"send-message-dialog" }
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{ type:"button", data-dismiss:"modal" }
            &times;
          %h4.modal-title
            - trans "Send Message"
        .modal-body
          %form.form-horizontal{ id:"send-message-form" }
            {% csrf_token %}
            %input{ type:"hidden", name:"issue", value:"{{ issue.pk }}" }
            .form-group
              %label.col-sm-2.control-label{ for:"cohort" }
                - trans "Recipients"
              .col-sm-10
                %select.form-control{ name:"cohort", style:"width: 100%" }
                  %option{ value:"A" }
                    - if request.region
                      - blocktrans with region=request.region count=response_count
                        All participants in {{ region }} ({{ count }})
                    - else
                      - blocktrans with count=response_count
                        All participants ({{ count }})
                  %option{ value:"R" }
                    - if request.region
                      - blocktrans with region=request.region count=complete_response_count
                        Respondents in {{ region }} ({{ count }})
                    - else
                      - blocktrans with count=complete_response_count
                        Respondents ({{ count }})
                  %option{ value:"N" }
                    - if request.region
                      - blocktrans with region=request.region count=incomplete_response_count
                        Non-respondents in {{ region }} ({{ count }})
                    - else
                      - blocktrans with count=incomplete_response_count
                        Non-respondents ({{ count }})
            .form-group
              %label.col-sm-2.control-label{ for:"message" }
              .col-sm-10
                %textarea.form-control{ name:"text", style:"width: 100%", placeholder:"Enter message" }
        .modal-footer
          %button.btn.btn-default{ type:"button", data-dismiss:"modal" }
            -trans "Cancel"
          %button.btn.btn-primary{ type:"button", onclick:"onMessageSend()" }
            -trans "Send"

  .modal.fade{ role:"dialog", id:"restart-dialog" }
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{ type:"button", data-dismiss:"modal" }
            &times;
          %h4.modal-title
            - trans "Restart Non-respondents"
        .modal-body
          %form{ id:"restart-form" }
            {% csrf_token %}
            %input{ type:"hidden", name:"issue", value:"{{ issue.pk }}" }
          %p
            - if request.region
              - blocktrans with region=request.region count=incomplete_response_count
                Restart poll for {{ count }} non-respondents in {{ region }}?
            - else
              - blocktrans with count=incomplete_response_count
                Restart poll for {{ count }} non-respondents?
        .modal-footer
          %button.btn.btn-default{ type:"button", data-dismiss:"modal" }
            -trans "Cancel"
          %button.btn.btn-primary{ type:"button", onclick:"onRestart()" }
            -trans "Restart"

- block extra-script
  :javascript
    function onMessageSend() {
      data = $('#send-message-form').serialize();
      $.post('{% url "msgs.message_send"  %}', data).success(function(data) {
        $('#send-message-dialog').modal('hide')
        display_alert('success', "Sent message to " + data.recipients + " recipients")
      });
    }

    function onRestart() {
    data = $('#restart-form').serialize();
      $.post('{% url "polls.issue_restart"  %}').success(function(data) {
        $('#restart-dialog').modal('hide')
        display_alert('success', "Restarted poll for " + data.contacts + " contacts")
      });
    }