- extends "smartmin/list.html"
- load smartmin i18n

- block pre-content

  {% include 'polls/issue_header.haml' with issue=issue %}

  - if request.region and not issue.region
    - blocktrans with region=request.region
      These are the responses for <strong>{{ region }}</strong>. Poll was also conducted in other regions.
