- extends "smartmin/list.html"
- load smartmin i18n

- block pre-content
  .page-header
    %h2
      {{ title }}
  - if other_regions
    - blocktrans with region=request.region other_regions=other_regions|join:", "
      These are the responses for <strong>{{ region }}</strong>. Poll was also conducted in {{ other_regions }}.

- block table-buttons
  %a.btn.btn-default.pull-right{ type:"button", data-toggle:"modal", data-target:"#send-message-dialog" }
    %span.glyphicon.glyphicon-comment
    - trans "Send Message..."

  .modal.fade{ role:"dialog", id:"send-message-dialog" }
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{ type:"button", data-dismiss:"modal" }
            &times;
          %h4.modal-title
            - trans "Send Message"
        .modal-body
          %form.form-horizontal{ id:"send-message-form" }
            %input{ type:"hidden", name:"issue", value:"{{ issue.pk }}" }
            .form-group
              %label.col-sm-2.control-label{ for:"cohort" }
                - trans "Recipients"
              .col-sm-10
                %select.form-control{ id:"cohort", style:"width: 100%" }
                  %option{ value:"A" }
                    - blocktrans with count=response_count
                      All contacts ({{ count }})
                  %option{ value:"R" }
                    - blocktrans with count=complete_response_count
                      Respondents ({{ count }})
                  %option{ value:"N" }
                    - blocktrans with count=incomplete_response_count
                      Non-respondents ({{ count }})
            .form-group
              %label.col-sm-2.control-label{ for:"message" }
              .col-sm-10
                %textarea.form-control{ id:"message", style:"width: 100%", placeholder:"Enter message" }
        .modal-footer
          %button.btn.btn-default{ type:"button", data-dismiss:"modal" }
            -trans "Cancel"
          %button.btn.btn-primary{ type:"button", onclick:"onMessageSend()" }
            -trans "Send"

- block extra-script
  :javascript
    function onMessageSend() {
      $('#send-message-form').submit();
    }