- extends "smartmin/base.html"
- load smartmin i18n compress
- load polls

- block pre-content

- block content

  - if not request.user_regions
    .none
      - trans "You don't have access to any regions. Contact your administrator."

  - else
    .container{ style:"margin: 0 -15px" }
      .col-md-7
        .page-header
          %h2
            - trans "Latest Polls"
        %p
          %a{ href:"{% url 'polls.issue_list' %}" }
            - trans "View all"
        %table.table.table-striped{ style:"width: 100%" }
          %thead
            %tr
              %th
                - trans "Poll"
              %th
                - trans "Date"
              %th
                - trans "Region"
              %th
                - trans "Responses"
          %tbody
            - for issue in latest_issues
              %tr
                %td
                  %a{ href:"{% url 'polls.response_filter' issue.pk %}" }
                    {{ issue.poll.name }}
                %td
                  {{ issue.conducted_on|gmail_time }}
                %td
                  - if issue.region
                    {{ issue.region }}
                  - else
                    - trans "All"
                %td
                  {{ issue|completion_fraction:request.region }}

      .col-md-5
        .page-header
          %h2
            - trans "Start Poll"
        %button.btn.btn-default{ type:"button", data-toggle:"modal", data-target:"#start-dialog" }
          %span.glyphicon.glyphicon-send
          - trans "Start..."

    .modal.fade{ role:"dialog", id:"start-dialog" }
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{ type:"button", data-dismiss:"modal" }
              &times;
            %h4.modal-title
              - trans "Start Poll"
          .modal-body
            %form.form-horizontal{ id:"start-poll-form" }
              %select.form-control{ id:"start-poll" }
                - for poll in polls
                  %option{ value:"{{ poll.pk }}" }
                    {{ poll.name }}
          .modal-footer
            %button.btn.btn-default{ type:"button", data-dismiss:"modal" }
              -trans "Cancel"
            %button.btn.btn-primary{ type:"button", onclick:"onStartPoll()" }
              -trans "Start"


- block extra-script
  :javascript
    function onStartPoll() {
      // TODO
    }

-block extra-style
  {{ block.super }}
  :css
