- extends "smartmin/base.html"
- load smartmin i18n compress
- load polls

- block pre-content

- block content

  - if not request.user_regions
    .none
      - trans "You don't have access to any regions. Contact your administrator."

  - else
    .container{ style:"margin: 0 -15px" }
      .col-md-6
        .page-header
          %h2
            - trans "Latest Polls"
        %p
          %a{ href:"{% url 'polls.issue_list' %}" }
            - trans "View all"
        %table.table.table-striped{ style:"width: 100%" }
          %thead
            %tr
              %th
                - trans "Poll"
              %th
                - trans "Date"
              %th
                - trans "Responses"
          %tbody
            - for issue in latest_issues
              %tr
                %td
                  %a{ href:"{% url 'polls.response_filter' issue.pk %}" }
                    {{ issue.poll }}
                %td
                  {{ issue.conducted_on|gmail_time }}
                %td
                  {{ issue|completion_fraction:request.region }}

      .col-md-6
        .page-header
          %h2
            - trans "Start Poll"
        %form.form-inline{ id:"start-poll-form" }
          %label.control-label{ for:"start-poll"  }
            - trans "Poll"
          %select.form-control{ id:"start-poll" }
            - for poll in polls
              %option{ value:"{{ poll.pk }}" }
                {{ poll.name }}
          %button.btn.btn-default{ type:"button", onclick:'alert("TODO")' }
            %span.glyphicon.glyphicon-send
            - trans "Start"


- block extra-script
  :javascript

-block extra-style
  {{ block.super }}
  :css
