- extends "smartmin/base.html"
- load smartmin i18n compress
- load polls

- block pre-content

- block content

  - if not request.user_regions
    .none
      - trans "You don't have access to any regions. Contact your administrator."

  - else
    .page-header
      %h2
        - trans "Latest Polls"

    .row
      .col-md-12.buttons
        .btn-group.pull-away
          %a.btn.btn-default{ href:"{% url 'polls.issue_list' %}" }
            - trans "View all"
          %button.btn.btn-default{ type:"button", data-toggle:"modal", data-target:"#start-dialog" }
            %span.glyphicon.glyphicon-send
            - trans "Start..."

    .row{ ng-controller:"LatestIssuesController", ng-init:'init()' }
      .col-md-12.buttons
        %table.table.table-striped{ style:"width: 100%" }
          %thead
            %tr
              %th
                - trans "Poll"
              %th
                - trans "Date"
              %th
                - trans "Region"
              %th
                - trans "Responses"
          %tbody
            %tr{ ng-repeat:"issue in issues" }
              %td
                %a{ href:"/response/filter/[[ issue.id ]]/" }
                  [[ issue.poll.name ]]
              %td
                [[ issue.conducted_on | date:'MMM dd, yyyy' ]]
              %td
                %span{ ng-if:"issue.region" }
                  [[ issue.region.name ]]
                %span{ ng-if:"!issue.region" }
                  All
              %td
                [[ issue.responses.complete ]] / [[ issue.responses.total ]]

    .modal.fade{ role:"dialog", id:"start-dialog" }
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{ type:"button", data-dismiss:"modal" }
              &times;
            %h4.modal-title
              - trans "Start Poll"
          .modal-body
            %form.form-horizontal{ id:"start-poll-form" }
              %select.form-control{ id:"start-poll" }
                - for poll in polls
                  %option{ value:"{{ poll.pk }}" }
                    {{ poll.name }}
          .modal-footer
            %button.btn.btn-default{ type:"button", data-dismiss:"modal" }
              -trans "Cancel"
            %button.btn.btn-primary{ type:"button", onclick:"onStartPoll()" }
              -trans "Start"


- block extra-script
  :javascript
    function onStartPoll() {
      // TODO
    }

-block extra-style
  {{ block.super }}
  :css
