- extends "smartmin/base.html"
- load smartmin i18n compress

- block pre-content

- block content

  - if not request.user_regions
    .none
      - trans "You don't have access to any regions. Contact your administrator."

  - else
    .page-header
      .btn-group.pull-away
        %a.btn.btn-default{ href:"{% url 'polls.issue_list' %}" }
          %span.glyphicon.glyphicon-th-list
          - trans "View All"
        - if request.region
          %button.btn.btn-default{ type:"button", data-toggle:"modal", data-target:"#start-poll-dialog" }
            %span.glyphicon.glyphicon-send
            - trans "Start..."
      %h2
        - trans "Latest Polls"

    .row.ng-cloak{ ng-controller:"LatestIssuesController", ng-init:'init()', ng-cloak:"", style:"margin-bottom: 1em" }
      .col-md-12
        %table.table.table-striped{ style:"width: 100%" }
          %thead
            %tr
              %th
                - trans "Poll"
              %th
                - trans "Date"
              %th
                - trans "Region"
              %th
                - trans "Participants"
              %th
                - trans "Responses"
          %tbody
            %tr{ ng-repeat:"issue in issues" }
              %td
                %a{ href:"/issue/read/[[ issue.id ]]/" }
                  [[ issue.poll.name ]]
              %td
                [[ issue.conducted_on | autodate ]]
              %td
                %span{ ng-if:"issue.region" }
                  [[ issue.region.name ]]
                %span{ ng-if:"!issue.region" }
                  All
              %td
                %a{ href:"/issue/participation/[[ issue.id ]]/" }
                  [[ issue.responses.E + issue.responses.P + issue.responses.C ]]
              %td
                %a{ href:"/response/filter/[[ issue.id ]]/" }
                  [[ issue.responses.C ]]
                  %span{ ng-if:"issue.responses.P" }
                    ([[ issue.responses.P ]])

        .loading{ ng-if:"loading" }
        .none{ ng-if:"!loading && issues.length == 0" }
          - trans "None"

    - if request.region
      .modal.fade{ role:"dialog", id:"start-poll-dialog" }
        .modal-dialog
          .modal-content
            .modal-header
              %button.close{ type:"button", data-dismiss:"modal" }
                &times;
              %h4.modal-title
                - trans "Start Poll"
            .modal-body
              %form.form-horizontal{ id:"start-poll-form" }
                {% csrf_token %}
                .form-group
                  %label.col-sm-2.control-label{ for:"start-poll" }
                    - trans "Poll"
                  .col-sm-10
                    %select.form-control{ name:"poll", style:"width: 100%" }
                      - for poll in polls
                        %option{ value:"{{ poll.pk }}" }
                          {{ poll.name }}
                .form-group
                  %label.col-sm-2.control-label
                    - trans "Region"
                  .col-sm-10
                    %input.form-control{ type:"text", style:"width: 100%", readonly:"readonly", value:'{{ request.region }}' }
            .modal-footer
              %button.btn.btn-default{ type:"button", data-dismiss:"modal" }
                -trans "Cancel"
              %button.btn.btn-primary{ type:"button", onclick:"onPollStart()" }
                -trans "Start"

    .row
      .col-md-6
        .page-header
          - if org_perms.groups.region_list
            %a.btn.btn-default.pull-away{ href:"{% url 'groups.region_list' %}" }
              %span.glyphicon.glyphicon-th-list
              - trans "View All"
          %h2
            - trans "Active Regions"

        .ng-cloak{ ng-controller:"ActiveRegionsController", ng-init:'init()', ng-cloak:"" }
          %p
            Regions with most responses in the last day:
          %table.table.table-striped{ style:"width: 100%" }
            %thead
              %tr
                %th
                  - trans "Region"
                %th
                  - trans "Responses"
            %tbody
              %tr{ ng-repeat:"region in regions" }
                %td
                  [[ region.name ]]
                %td
                  [[ region.response_count ]]

          .loading{ ng-if:"loading" }
          .none{ ng-if:"!loading && regions.length == 0" }
            - trans "None"

      .col-md-6
        .page-header
          - if org_perms.groups.group_list
            %a.btn.btn-default.pull-away{ href:"{% url 'groups.group_list' %}" }
              %span.glyphicon.glyphicon-th-list
              - trans "View All"
          %h2
            - trans "Active Groups"

        .ng-cloak{ ng-controller:"ActiveGroupsController", ng-init:'init()', ng-cloak:"" }
          %p
            Reporting groups with most responses in the last day:
          %table.table.table-striped{ style:"width: 100%" }
            %thead
              %tr
                %th
                  - trans "Group"
                %th
                  - trans "Responses"
            %tbody
              %tr{ ng-repeat:"group in groups" }
                %td
                  [[ group.name ]]
                %td
                  [[ group.response_count ]]

          .loading{ ng-if:"loading" }
          .none{ ng-if:"!loading && groups.length == 0" }
            - trans "None"


- block extra-script
  :javascript
    function onPollCreate() {
      data = $('#start-poll-form').serialize();
      $.post('{% url "polls.issue_create"  %}', data).success(function(data) {
        $('#start-poll-dialog').modal('hide')
        display_alert('success', 'Started new poll for contacts in {{ request.region }}')
      });
    }

-block extra-style
  {{ block.super }}
  :css
    .none {
      font-style: italic;
      text-align: center;
    }

