*~
*.bak
*.db
*.log
*.priv
*.py[cod]
*.*sw[pod]

.coverage
.DS_Store
celerybeat-schedule
conf/pillar/*/deploy
tracpro/settings/local.py

.project/
.pydevproject/
.vagrant/
docs/_build/
docs/build/
htmlcov/
public/
