*.sw[po]
*.py[cod]
.project
.pydevproject
*~
*.db
*.orig
*.DS_Store
.coverage
.vagrant
*/settings/local.py
public/static/
public/media/
conf/pillar/*/deploy
*.priv
tracpro/settings.py
*.log
docs/_build/
