<ul class="lang-switcher">
  {% for code, language in LANGUAGES %}
    <li>
      {% if code == request.LANGUAGE_CODE %}
        {{ language }}
      {% else %}
        <form action="{% url "set_language" %}" method="POST">
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ request.path }}" />
          <input type="hidden" name="language" value="{{ code }}" />
          <a class="lang-submit" href="#" onclick="$(this).closest("form").submit();">
            {{ language }}
          </a>
        </form>
      {% endif %}
    </li>
  {% endfor %}
</ul>
