<div class="modal {% block modal-class %}fade{% endblock modal-class %}"
     id="{% block modal-id %}{% endblock modal-id %}"
     role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" type="button" data-dismiss="modal">
          &times;
        </button>
        <h4 class="modal-title">
          {% block modal-title %}{% endblock modal-title %}
        </h4>
      </div>
      <div class="modal-body">
        {% block modal-body %}{% endblock modal-body %}
      </div>
      <div class="modal-footer">
        {% block modal-footer %}{% endblock modal-footer %}
      </div>
    </div>
  </div>
</div>
