{% extends "smartmin/base.html" %}

{% load i18n %}
{% load charts %}
{% load staticfiles %}

{% block content %}
  {% if not request.user_regions %}
    <div class='none'>
      {% trans "You don't have access to any panels. Contact your administrator." %}
    </div>
  {% else %}
    <div class='row bottom-margin'>
      <div class='col-md-9'>
         {% if chart_data %}
           <div class="chart-baseline"
                data-title="{{ featured_indicator.name }}"
                data-subtitle="Baseline: {{ featured_indicator.baseline_question|escapejs }}, Follow Ups: {{ featured_indicator.follow_up_question }}"
                data-y-axis-title="{{ featured_indicator.y_axis_title }}"
                data-chart="{{ chart_data|chart_json }}">
            </div>
            <div class="text-center bottom-margin">
              <strong>
                {{ featured_indicator.start_date|date:"F d, Y" }} -
                {{ featured_indicator.end_date|date:"F d, Y" }}
              </strong>
            </div>
          {% else %}
            <div class="chart-no-data">
              No data to display for this time period.
            </div>
          {% endif %}
        </div>
        <div class='col-md-3'>
          <div class='page-header'>
            {% if org_perms.baseline.baselineterm_list %}
              <a class='btn btn-default pull-away' href='{% url 'baseline.baselineterm_list' %}'>
                <span class='glyphicon glyphicon-th-list'></span>
                {% trans "View All" %}
              </a>
            {% endif %}
            <h2>
              {% trans "Recent Indicators" %}
            </h2>
          </div>
          <table class='table table-striped' style='width: 100%'>
            <thead>
              <tr>
                <th>
                  {% trans "Name" %}
                </th>
                <th>
                  {% trans "End Date" %}
                </th>
              </tr>
            </thead>
            <tbody>
              {% for indicator in recent_indicators %}
                <tr>
                  <td>
                    <a href='{% url "baseline.baselineterm_read" indicator.pk %}'>
                      {{ indicator.name }}
                    </a>
                    {% if indicator.pk == featured_indicator.pk %}
                      (displayed)
                    {% endif %}
                  </td>
                  <td>
                    {{ indicator.end_date|date:"F d, Y"  }}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

    <div class='page-header'>
      <div class='btn-group pull-away'>
        <a class='btn btn-default' href='{% url 'polls.pollrun_list' %}'>
          <span class='glyphicon glyphicon-th-list'></span>
          {% trans "View All" %}
        </a>
        {% if request.region %}
          <button class='btn btn-default' data-toggle='modal' type='button' data-target='#start-poll-dialog'>
            <span class='glyphicon glyphicon-send'></span>
            {% trans "Start..." %}
          </button>
        {% endif %}
      </div>
      <h2>
        {% trans "Latest Polling" %}
      </h2>
    </div>
    <div class='row ng-cloak bottom-margin' ng-cloak='' ng-controller='LatestPollRunsController'>
      <div class='col-md-12'>
        <table class='table table-striped' style='width: 100%'>
          <thead>
            <tr>
              <th>
                {% trans "Conducted On" %}
              </th>
              <th>
                {% trans "Poll" %}
              </th>
              <th>
                {% trans "Panel" %}
              </th>
              <th>
                {% trans "Participants" %}
              </th>
              <th>
                {% trans "Responses" %}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat='pollrun in pollruns'>
              <td>
                <a href='/pollrun/read/[[ pollrun.id ]]/'>
                  [[ pollrun.conducted_on | autodate ]]
                </a>
              </td>
              <td>
                <a href='/poll/read/[[ pollrun.poll.id ]]/'>
                  [[ pollrun.poll.name ]]
                </a>
              </td>
              <td>
                <span ng-if='pollrun.region'>
                  [[ pollrun.region.name ]]
                </span>
                <span ng-if='!pollrun.region'>
                  All
                </span>
              </td>
              <td>
                <a href='/pollrun/participation/[[ pollrun.id ]]/'>
                  [[ pollrun.responses.E + pollrun.responses.P + pollrun.responses.C ]]
                </a>
              </td>
              <td>
                <a href='/response/by_pollrun/[[ pollrun.id ]]/'>
                  [[ pollrun.responses.C ]]
                  <span ng-if='pollrun.responses.P'>
                    ([[ pollrun.responses.P ]])

                  </span>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
        <div class='loading' ng-if='loading'></div>
        <div class='none' ng-if='!loading && pollruns.length == 0'>
          {% trans "None" %}
        </div>
      </div>
    </div>
    {% if request.region %}
      {% include "home/start_poll_modal.html" %}
    {% endif %}
    <div class='row'>
      <div class='col-md-6'>
        <div class='page-header'>
          {% if org_perms.groups.region_list %}
            <a class='btn btn-default pull-away' href='{% url 'groups.region_list' %}'>
              <span class='glyphicon glyphicon-th-list'></span>
              {% trans "View All" %}
            </a>
          {% endif %}
          <h2>
            {% trans "Active Panels" %}

          </h2>
        </div>
        <div class='ng-cloak' ng-cloak='' ng-controller='ActiveRegionsController'>
          <p>
            Panels with most responses in the last 30 days:
          </p>
          <table class='table table-striped' style='width: 100%'>
            <thead>
              <tr>
                <th>
                  {% trans "Panel" %}
                </th>
                <th>
                  {% trans "Responses" %}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat='region in regions'>
                <td>
                  [[ region.name ]]
                </td>
                <td>
                  [[ region.response_count ]]

                </td>
              </tr>
            </tbody>
          </table>
          <div class='loading' ng-if='loading'></div>
          <div class='none' ng-if='!loading && regions.length == 0'>
            {% trans "None" %}

          </div>
        </div>
      </div>
      <div class='col-md-6'>
        <div class='page-header'>
          {% if org_perms.groups.group_list %}
            <a class='btn btn-default pull-away' href='{% url 'groups.group_list' %}'>
              <span class='glyphicon glyphicon-th-list'></span>
              {% trans "View All" %}
            </a>
          {% endif %}
          <h2>
            {% trans "Active Cohorts" %}

          </h2>
        </div>
        <div class='ng-cloak' ng-cloak='' ng-controller='ActiveGroupsController'>
          <p>
            Cohorts with most responses in the last 30 days:
          </p>
          <table class='table table-striped' style='width: 100%'>
            <thead>
              <tr>
                <th>
                  {% trans "Cohort" %}
                </th>
                <th>
                  {% trans "Responses" %}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat='group in groups'>
                <td>
                  [[ group.name ]]
                </td>
                <td>
                  [[ group.response_count ]]
                </td>
              </tr>
            </tbody>
          </table>
          <div class='loading' ng-if='loading'></div>
          <div class='none' ng-if='!loading && groups.length == 0'>
            {% trans "None" %}
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock content %}

{% block extra-script %}
  {{ block.super }}
  <script src="{% static "libs/highcharts-4.1.8/highcharts.js" %}"></script>
  <script src="{% static "js/charts.js" %}"></script>
  <script>
// <![CDATA[
    function onPollCreate() {
      data = $('#start-poll-form').serialize();
      $.post('{% url "polls.pollrun_create"  %}', data).success(function(data) {
        $('#start-poll-dialog').modal('hide')
        display_alert('success', 'Started new poll for contacts in {{ request.region }}')
      });
    }
// ]]>
  </script>
{% endblock extra-script %}

{% block extra-style %}
  {{ block.super }}
  <style type='text/css'>
/*<![CDATA[*/
    .none {
      font-style: italic;
      text-align: center;
    }
/*]]>*/
  </style>
{% endblock extra-style %}
