- extends "smartmin/list.html"
- load smartmin i18n

- block table-controls
  .clearfix
    .pull-back
      - blocktrans
        Each region is a contact group in RapidPro.

    .pull-away.buttons
      - if org_perms.groups.region_select
        %a.btn.btn-default.pull-right{ href:"{% url 'groups.region_select' %}" }
          %span.glyphicon.glyphicon-download
          - trans "Select Groups"