{% extends "smartmin/list.html" %}
{% load smartmin i18n %}

{% block table-controls %}
  <div class='clearfix'>
    <div class='pull-back'>
      {% blocktrans %}
        Select the cohorts you want tracked in TracPro. Cohorts are Groups in RapidPro. Your RapidPro contacts that belong to selected cohorts will be tracked.
      {% endblocktrans %}
    </div>
    <div class='pull-away buttons'>
      {% if org_perms.groups.group_select %}
        <a class='btn btn-default pull-right' href='{% url 'groups.group_select' %}'>
          <span class='glyphicon glyphicon-download'></span>
          {% trans "Select Cohorts" %}
        </a>
      {% endif %}
    </div>
  </div>
{% endblock %}
