{% extends "smartmin/list.html" %}
{% load smartmin i18n %}

{% block table-controls %}
  <div class='clearfix'>
    <div class='pull-back'>
      {% blocktrans %}
      List of Cohorts you track in TracPro. Cohorts are Groups in RapidPro. Click the "Select Cohorts" button to track additional RapidPro Groups.
      {% endblocktrans %}
    </div>
    <div class='pull-away buttons'>
      {% if org_perms.groups.group_select %}
        <a class='btn btn-default pull-right' href='{% url 'groups.group_select' %}'>
          <span class='glyphicon glyphicon-download'></span>
          {% trans "Select Cohorts" %}
        </a>
      {% endif %}
    </div>
  </div>
{% endblock %}
