{% extends "smartmin/list.html" %}

{% load smartmin %}
{% load i18n %}

{% block table-controls %}
  <div class="clearfix">
    <div class="pull-back">
      {% trans "Each region is a contact group in RapidPro." %}
    </div>

    <div class="pull-away buttons">
      {% if org_perms.groups.region_select %}
        <a class="btn btn-default pull-right"
           href="{% url 'groups.region_select' %}">
          <span class="glyphicon glyphicon-download"></span>
          {% trans "Select Groups" %}
        </a>
      {% endif %}
    </div>
  </div>
{% endblock table-controls %}
