{% extends "smartmin/list.html" %}

{% load i18n %}
{% load mptt_tags %}
{% load smartmin %}
{% load static from staticfiles %}

{% block extra-script %}
  {# Required for hierarchical tree structure. #}
  <script src="{% static "libs/treetable-3.2.0/jquery.treetable.js" %}"></script>

  {# Required for drag-and-drop rows. #}
  <script src="{% static "libs/jquery-ui-1.11.4/jquery-ui.min.js" %}"></script>

  <script src="{% static "js/regions.js" %}"></script>
{% endblock extra-script %}

{% block extra-style %}
  {# Required for hierarchical tree structure. #}
  <link href="{% static "libs/treetable-3.2.0/jquery.treetable.css" %}"
        rel="stylesheet" type="text/css">

  {# Required for drag-and-drop rows. #}
  <link href="{% static "libs/jquery-ui-1.11.4/jquery-ui.min.css" %}"
        rel="stylesheet" type="text/css">
  <link href="{% static "libs/jquery-ui-1.11.4/jquery-ui.structure.min.css" %}"
        rel="stylesheet" type="text/css">
  <link href="{% static "libs/jquery-ui-1.11.4/jquery-ui.theme.min.css" %}"
        rel="stylesheet" type="text/css">

  <link href="{% static "css/regions.css" %}"
        rel="stylesheet" type="text/css">
{% endblock extra-style %}

{% block table-controls %}
  <div class="clearfix">
    <div class="pull-back">
      {% trans "Each region is a contact group in RapidPro." %}
    </div>

    <div class="pull-away buttons">
      {% if org_perms.groups.region_select %}
        <a class="btn btn-default pull-right"
           href="{% url 'groups.region_select' %}">
          <span class="glyphicon glyphicon-download"></span>
          {% trans "Select Groups" %}
        </a>
      {% endif %}
    </div>
  </div>
{% endblock table-controls %}

{% block table %}
  <table class="treetable list-table {% get_list_class object_list %} table table-bordered">
    <thead>
      <tr>
        {% for field in fields %}
          <th>{% get_label field %}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {# Include a dummy row so regions can be dragged to the top level. #}
      <tr data-tt-id="0">
        <td colspan="{{ fields|length }}">All Regions</td>
      </tr>
      {% recursetree object_list %}
        <tr data-tt-id="{{ node.pk }}"
            data-tt-parent-id="{% if node.is_child_node %}{{ node.parent.pk }}{% else %}0{% endif %}">
          {% for field in fields %}
            <td class="value-{{ field }}">
              <span class="value">
                {% get_value node field %}
              </span>
            </td>
          {% endfor %}
        </tr>
        {{ children }}
      {% endrecursetree %}
      {% block extra-rows %}{% endblock extra-rows %}
    </tbody>
  </table>
{% endblock table %}
