{% load i18n %}
{% load charts %}

<h2 class="page-header">{{ baselineterm.name }}</h2>

<div class="pull-right buttons">
  {% if org_perms.baseline.baselineterm_update %}
    <a class="btn btn-default" href="{% url 'baseline.baselineterm_update' baselineterm.pk %}">
      <span class="glyphicon glyphicon-pencil"></span>
      {% trans "Edit" %}
    </a>
  {% endif %}
  {% if org_perms.baseline.baselineterm_delete %}
    <button class="btn btn-default" type="button" data-toggle="modal" data-target="#confirm-delete-dialog">
      <span class="glyphicon glyphicon-trash"></span>
      {% trans "Delete..." %}
    </button>
  {% endif %}
  <button type="button" class="btn btn-default" id="toggle-filters"
          data-toggle="collapse" data-target="#filters">
    {% trans "Hide filters..." %}
  </button>
</div>

<div class="clearfix"></div>

<div class="collapse in" id="filters">
  <form class="filter-form form-horizontal" method="GET">
    {% if form.non_field_errors %}
      {% for error in form.non_field_errors %}
        <div class="alert alert-danger">{{ error }}</div>
      {% endfor %}
    {% elif form.errors %}
      <div class="alert alert-danger">Please fix the errors below.</div>
    {% endif %}

    <div class="row">
      {% filter_field form "goal" %}
    </div>

    <div class="row">
      {% filter_field form "region" %}
    </div>

    <div class="row">
      {% filter_field form "date_range" %}
    </div>

    <div class="row hidden" id="filter-dates">
      {% filter_field form "start_date" col_width=6 label_width=4 field_width=8 %}
      {% filter_field form "end_date" col_width=6 label_width=4 field_width=8 %}
    </div>

    <div class="well">
      <button type="submit" class="btn btn-primary">
        {% trans "Update" %}
      </button>
      <a class="btn btn-default" href="{% url "baseline.baselineterm_read" object.pk %}">
        {% trans "Clear filters" %}
      </a>
    </div>
  </form>
</div>

{% include "baseline/baselineterm_delete_modal.html" %}
