{% extends "smartmin/list.html" %}
{% load smartmin i18n %}

{% block table-buttons %}

    <form id="clear-spoof-data-form" method="post" action="{% url 'baseline.baselineterm_clear_spoof' %}">
    {% csrf_token %}

    <div class="modal fade" role="dialog" id="confirm-delete-dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" type="button" data-dismiss="modal">
              &times;
            </button>
            <h4 class="modal-title">
              {% trans "Confirm" %}
            </h4>
          </div>
          <div class="modal-body">
            {% trans "Are you sure that you want to delete all spoofed poll data for this organization?" %}
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" type="button" data-dismiss="modal">
              {% trans "Cancel" %}
            </button>
            <button class="btn btn-danger" type="button" onclick="onConfirmDelete()">
              {% trans "Delete" %}
            </button>
          </div>
        </div>
      </div>
    </div>
    </form>

    <div class="pull-right">
        {% if org.show_spoof_data %}
          <button class="btn btn-danger" type="button" data-toggle="modal" data-target="#confirm-delete-dialog">
              {% trans "Clear All Spoof Data" %}
          </button>
          <a class="btn btn-primary" href="./data_spoof/">{% trans "Spoof Data" %}</a>
        {% endif %}
        <a class="btn btn-primary" href="./create/">{% trans "Add" %}</a>
    </div>


{% endblock table-buttons %}

{% block extra-script %}
  <script>
    function onConfirmDelete() {
      $('#clear-spoof-data-form').submit();
    }
  </script>
{% endblock extra-script %}