{% extends "smartmin/create.html" %}
{% load smartmin i18n %}

{% block pre-form %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
{% endblock %}

{% block post-form %}
<script>
    $("input[class^='datepicker']").datepicker();
    $("#id_org").val("{{ org.pk }}");   // Set the value of this hidden field to the current org
</script>
{% endblock %}