{% extends "smartmin/base.html" %}

{% load i18n %}
{% load staticfiles %}
{% load charts %}

{% block extra-style %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css"
        href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
{% endblock extra-style %}

{% block extra-script %}
  {{ block.super }}
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <script src="{% static "js/filters.js" %}"></script>
  <script src="{% static "js/charts.js" %}"></script>
{% endblock extra-script %}

{% block content %}
  <div class="pull-right buttons">
    {% if org_perms.baseline.baselineterm_update %}
      <a class="btn btn-default" href="{% url 'baseline.baselineterm_update' baselineterm.pk %}">
        <span class="glyphicon glyphicon-pencil"></span>
        {% trans "Edit" %}
      </a>
    {% endif %}
    {% if org_perms.baseline.baselineterm_delete %}
      <button type="button" class="btn btn-default"
              data-toggle="modal" data-target="#confirm-delete-dialog">
        <span class="glyphicon glyphicon-trash"></span>
        {% trans "Delete..." %}
      </button>
    {% endif %}
    <button type="button" class="btn btn-default" id="toggle-filters"
            data-toggle="collapse" data-target="#filters">
      {% trans "Hide filters..." %}
    </button>
  </div>

  <div class="clearfix"></div>

  <div class="collapse in" id="filters">
    <form class="filter-form form-horizontal" method="GET">
      {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
          <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
      {% elif form.errors %}
        <div class="alert alert-danger">Please fix the errors below.</div>
      {% endif %}

      <div class="row">
        {% filter_field form "goal" %}
      </div>

      <div class="row">
        {% filter_field form "region" %}
      </div>

      <div class="row">
        {% filter_field form "date_range" %}
      </div>

      <div class="row hidden" id="filter-dates">
        {% filter_field form "start_date" col_width=6 label_width=4 field_width=8 %}
        {% filter_field form "end_date" col_width=6 label_width=4 field_width=8 %}
      </div>

      {% for field_name, _ in form.contact_fields %}
        <div class="row">
          {% filter_field form field_name %}
        </div>
      {% endfor %}

      <div class="well">
        <button type="submit" class="btn btn-primary">
          {% trans "Update" %}
        </button>
        <a class="btn btn-default" href="{% url "baseline.baselineterm_read" object.pk %}">
          {% trans "Clear filters" %}
        </a>
      </div>
    </form>
  </div>

  {% include "baseline/baselineterm_delete_modal.html" %}

  {% if chart_data %}
    <div class="chart-baseline"
         data-title="{{ baselineterm.name|escapejs }}"
         data-subtitle="Baseline: {{ baselineterm.baseline_question|escapejs }}, Follow Ups: {{ baselineterm.follow_up_question|escapejs }}"
         data-y-axis-title="{{ baselineterm.y_axis_title }}"
         data-chart="{{ chart_data|chart_json }}">
    </div>
  {% else %}
    <div class="chart-no-data">No data to display for this time period.</div>
  {% endif %}

  {% include "charts/summary_table.html" %}
{% endblock content %}
