<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script>
$(function () {
    {% if baselineterm %}
    $('#container').highcharts({
        title: {
            text: '{{ baselineterm.name|escapejs }}'
        },
        subtitle: {
            text: 'Baseline: {{ baselineterm.baseline_question|escapejs }}, Follow Up: {{ baselineterm.follow_up_question|escapejs }}'
        },
        xAxis: {
            categories: [
                        {% for date in date_list %}
                            '{{ date }}'{% if not forloop.last %},{% endif %}
                        {% endfor %}
                        ]
        },
        yAxis: {
            title: {
                text: '{{ baselineterm.y_axis_title|escapejs }}'
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'top',
            floating: true,
            backgroundColor: '#FFFFFF'
        },
        series: [
        // Baseline Data
        {
            type: 'area',
            name: 'Baseline',
                data: {{ baseline_list }}
        },
        // Follow Up Data
        {
            type: 'area',
            name: 'Follow Up',
            data: {{ follow_up_list }}
        }
        ]
    });
    {% else %}
        $('#container').html('<div class="alert alert-info">No baseline data exists.</div>');
    {% endif %}
});
</script>