{% extends "smartmin/read.html" %}
{% load smartmin i18n %}

{% block pre-content %}

  {% if error_message %}
    <div class="alert alert-danger form-errors">
      {{ error_message }}
    </div>
  {% endif %}

  {% include 'baseline/baselineterm_header.html' %}

  <div id="container" style="min-width: 310px; height: 400px; max-width: 800px; margin: 0 auto"></div>

{% endblock pre-content %}

{% block read-buttons %}{% endblock read-buttons %}

{% block extra-script %}
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script>
$(function () {
    $('#container').highcharts({
        title: {
            text: '{{ baselineterm.name|escapejs }}'
        },
        subtitle: {
            text: 'Baseline: {{ baselineterm.baseline_question|escapejs }}, Follow Up: {{ baselineterm.follow_up_question|escapejs }}'
        },
        xAxis: {
            categories: [
                        {% for date in date_list %}
                            '{{ date }}',
                        {% endfor %}
                        ]
        },
        yAxis: {
            title: {
                text: '{{ baselineterm.y_axis_title|escapejs }}'
            }
        },
        series: [
        // Baseline Data
        {% for key, values in baseline_dict.items %}
            {
                type: 'area',
                name: '{{ key|escapejs }} Baseline',
                {% for subkey, subvalue in values.items %}
                    data: [
                          {% for i in date_count %}
                            {{ subvalue }},
                          {% endfor %}
                          ]
                {% endfor %}
            },
        {% endfor %}
        // Follow Up Data
        {% for key, values in answers_dict.items %}
            {
                type: 'area',
                name: '{{ key|escapejs }} Follow Up',
                {% for subkey, subvalue in values.items %}
                    data: {{ subvalue }}
                {% endfor %}
            },
        {% endfor %}
        ]
    });
});
</script>
{% endblock extra-script %}