{% load poll_tags %}

<div class="pull-right buttons">
  <button type="button" class="btn btn-primary" id="toggle-filters"
          data-toggle="collapse" data-target="#filters">
    Hide filters...
  </button>
</div>
<div class="clearfix"></div>

<div class="collapse in" id="filters">
  <form class="filter-form form-horizontal" method="GET">
    {% if form.non_field_errors %}
      {% for error in form.non_field_errors %}
        <div class="alert alert-danger">{{ error }}</div>
      {% endfor %}
    {% elif form.errors %}
      <div class="alert alert-danger">Please fix the errors below.</div>
    {% endif %}

    <div class="row">
      {% field filter_form "numeric" %}
    </div>

    <div class="row">
      {% field filter_form "date_range" %}
    </div>

    <div class="row hidden" id="filter-dates">
      {% field filter_form "start_date" col_width=6 label_width=4 field_width=8 %}
      {% field filter_form "end_date" col_width=6 label_width=4 field_width=8 %}
    </div>

    {% for field_name, _ in form.contact_fields %}
      <div class="row">
        {% field filter_form field_name %}
      </div>
    {% endfor %}

    <div class="well">
      <button type="submit" class="btn btn-primary">Update</button>
      <a href="{% url "polls.poll_read" object.pk %}" class="btn btn-default">Clear filters</a>
    </div>
  </form>
</div>
