{% extends 'smartmin/form.html' %}
{% load i18n %}

{% block pre-content %}
  {{ block.super }}
  {% include 'workflow_tracker_steps.html' with step=4 %}
{% endblock %}

{% block pre-form %}

  <p>
    {% blocktrans %}This manual fetch is only needed if you want <b>to retrieve data
    from flow runs that happened before a panel was selected.</b>{% endblocktrans %}*
    <br />
    {% blocktrans %}Enter for how many days in the past to retrieve flow run data.
    For example, if you enter 2, TracPro will fetch data from the last 48 hours.{% endblocktrans %}
  </p>
  <p>
  *{% blocktrans %}Once a panel has been selected for an organization,
  TracPro will automatically retrieve its flow run data from then on.{% endblocktrans %}
  </p>


{% endblock %}
