{% extends "smartmin/base.html" %}

{% load charts %}
{% load compress %}
{% load i18n %}
{% load staticfiles %}

{% block pre-content %}
  {% include 'polls/poll_header.html' with poll=object %}
{% endblock pre-content %}

{% block extra-style %}
  {{ block.super }}
  {% compress css %}
    <link type="text/css" rel="stylesheet"
          href="{% static "libs/jqcloud-2.0.1/jqcloud.css" %}" />
    <link type="text/css" rel="stylesheet"
          href="{% static "libs/leaflet-0.7.7/leaflet.css" %}" />
    <link type="text/css" rel="stylesheet"
          href="{% static "libs/leaflet-fullscreen-1.0.1/leaflet.fullscreen.css" %}" />
    <link type="text/less" rel="stylesheet"
          href="{% static "less/maps.less" %}" />
  {% endcompress %}
{% endblock extra-style %}

{% block extra-script %}
  {{ block.super }}
  {% compress js %}
    <script src="{% static "libs/highcharts-4.1.8/highcharts.js" %}"></script>
    <script src="{% static "libs/jqcloud-2.0.1/jqcloud.js" %}"></script>
    <script src="{% static "libs/leaflet-0.7.7/leaflet.js" %}"></script>
    <script src="{% static "libs/leaflet-fullscreen-1.0.1/Leaflet.fullscreen.js" %}"></script>
    <script src="{% static "js/filters.js" %}"></script>
    <script src="{% static "js/charts.js" %}"></script>
    <script src="{% static "js/maps.js" %}"></script>
  {% endcompress %}
{% endblock extra-script %}

{% block content %}
  {% include "polls/maps_warning.html" %}

  <div class="pull-right buttons">
    <button type="button" class="btn btn-default" id="toggle-filters"
            data-toggle="collapse" data-target="#filters">
      {% trans "Hide filters..." %}
    </button>
  </div>

  <div class="clearfix"></div>

  <div class="collapse in" id="filters">
    <form class="filter-form form-horizontal" method="GET">
      {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
          <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
      {% elif form.errors %}
        <div class="alert alert-danger">
          {% trans "Please fix the errors below." %}
        </div>
      {% endif %}

      <div class="row">
        {% filter_field form "numeric" %}
      </div>

      <div class="row">
        {% filter_field form "split_regions" %}
      </div>

      <div class="row">
        {% filter_field form "date_range" %}
      </div>

      <div class="row hidden" id="filter-dates">
        {% filter_field form "start_date" col_width=6 label_width=4 field_width=8 %}
        {% filter_field form "end_date" col_width=6 label_width=4 field_width=8 %}
      </div>

      {% for field_name, _ in form.contact_fields %}
        <div class="row">
          {% filter_field form field_name %}
        </div>
      {% endfor %}

      <div class="well">
        <button type="submit" class="btn btn-primary">
          {% trans "Update" %}
        </button>
        <a href="{% url "polls.poll_read" object.pk %}" class="btn btn-default">
          {% trans "Clear filters" %}
        </a>
      </div>
    </form>
  </div>

  {% if question_data and not request.region %}
    <p>
      {% blocktrans %}
        Charts only include data from non-regional poll runs.
        To see regional poll runs, choose a region from the dropdown in the navbar.
      {% endblocktrans %}
    </p>
  {% endif %}

  {% for question, chart_type, chart_data, map_data, summary_table in question_data %}
    <div class="poll-question">
      <h3>
        {{ forloop.counter }}. {{ question.name }}
        {% if question.question_type == question.TYPE_NUMERIC %}
          <span class="data-type"></span>
        {% elif question.question_type == question.TYPE_OPEN %}
          (Open-ended)
        {% elif question.question_type == question.TYPE_MULTIPLE_CHOICE %}
          (Categorical)
        {% endif %}
        {% if request.region %}
           / Region: {{ request.region }}
        {% endif %}
      </h3>

      {% if request.org.display_maps and map_data %}
        <ul class='nav nav-tabs' style='margin-bottom: 1em'>
          <li role="presentation" class='active'>
            <a role="tab" data-toggle="tab" aria-controls="chart-{{ question.pk }}"
               href="#chart-{{ question.pk }}">{% trans "Chart" %}</a>
          </li>
          <li role="presentation">
            <a role="tab" data-toggle="tab" aria-controls="map-{{ question.pk }}"
               href="#map-{{ question.pk }}">{% trans "Map" %}</a>
          </li>
        </ul>
      {% endif %}

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="chart-{{ question.pk }}">
          {% if chart_data %}
            <div class="chart-{{ chart_type }}"
                 data-chart='{{ chart_data|chart_json }}'
                 data-name="{{ question.name }}">
            </div>
          {% else %}
            <div class="chart-no-data">
              {% trans "No data to display for the current filters." %}
            </div>
          {% endif %}
        </div>

        {% if request.org.display_maps and map_data %}
          <div role="tabpanel" class="tab-pane maps" id="map-{{ question.pk }}">
            <div class="map"
              {% for key, value in map_data.items %}
                 data-{{ key }}='{{ value|chart_json }}'
              {% endfor %}>
            </div>
          </div>
        {% endif %}
      </div>

      {% include "charts/summary_table.html" %}
    </div>
  {% empty %}
    <div>
      {% trans "There are no questions to display." %}
    </div>
  {% endfor %}
{% endblock content %}
