{% extends "smartmin/base.html" %}

{% load i18n %}
{% load static %}

{% block pre-content %}
  {% include 'polls/poll_header.html' with poll=object %}
{% endblock pre-content %}

{% block extra-style %}
  <link rel="stylesheet" type="text/css"
        href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
{% endblock extra-style %}

{% block extra-script %}
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <script src="{% static "js/filters.js" %}"></script>
{% endblock extra-script %}

{% block content %}
  {% include "polls/_filters.html" with form=filter_form %}

  {% if questions and not request.region %}
    <p>
      {% blocktrans %}
        Charts only include data from non-regional poll runs.
        To see regional poll runs, choose a region from the dropdown in the navbar.
      {% endblocktrans %}
    </p>
  {% endif %}

  {% for question, chart_type, data in questions %}
    <div class="poll-question">
      <h3>
        {{ forloop.counter }}. {{ question.name }}:
        {% if question.question_type == question.TYPE_NUMERIC %}
          <span class="data-type"></span>
        {% elif question.question_type == question.TYPE_OPEN %}
          Open-ended
        {% elif question.question_type == question.TYPE_MULTIPLE_CHOICE %}
          Categorical
        {% endif %}
      </h3>

      <div class="chart-{{ chart_type }}"
           data-chart='{{ data }}'
           data-name="{{ question.name }}">
      </div>

      {% if question.question_type == question.TYPE_NUMERIC %}
        <table class="table table-striped">
          <tbody>
            <tr class="read">
              <td class="read-half read-label">Mean</td>
              <td class="read-half read-value">{{ question.answer_mean }}</td>
            </tr>
            <tr class="read">
              <td class="read-half read-label">Standard Deviation</td>
              <td class="read-half read-value">{{ question.answer_stdev }}</td>
            </tr>
            <tr class="read">
              <td class="read-half read-label">Response Rate Average</td>
              <td class="read-half read-value">{{ question.response_rate_average }}%</td>
            </tr>
          </tbody>
        </table>
      {% endif %}
    </div>
  {% endfor %}
{% endblock content %}
