{% extends "smartmin/base.html" %}

{% load smartmin %}
{% load i18n %}

{% block pre-content %}
  {% include 'polls/pollrun_header.html' with pollrun=object %}
{% endblock pre-content %}

{% block content %}
  {% for question in questions %}
    <h3>{{ forloop.counter }}. {{ question.name }}</h3>

    <div class="chart"
         data-chart-type="{{ question.chart_type }}"
         data-unit-text="{{ question.name }}"
         data-question-id="{{ question.pk }}"
         dir="ltr"></div>
    <script type='text/javascript'>
      var chart_{{ question.pk }}_data = {{ question.chart_data|safe }};
    </script>
  {% endfor %}
{% endblock content %}
