{% extends "smartmin/base.html" %}
{% load smartmin i18n %}

{% block pre-content %}

  {% include 'polls/poll_header.html' with poll=object %}

{% endblock %}

{% block content %}
  <div>
    {% if not request.region %}
      {% trans "Charts only include data from non-regional poll runs" %}

    {% endif %}
    <div class='pull-away'>
      <form class='form-inline' method='get'>
        <label class='control-label' for='window-select'></label>
        {% trans "Show" %}
        <select id='value-type-select' class='form-control' onchange='onValueTypeChange(this)' name='value_type'>
          {% for value_type in value_type_options %}
            {% if value_type == value_type_selected %}
              <option selected='selected' value='{{ value_type }}'>{{ value_type }}</option>
            {% else %}
              <option value='{{ value_type }}'>{{ value_type }}</option>
            {% endif %}
          {% endfor %}
        </select>
        <select id='window-select' class='form-control' onchange='onWindowChange(this)' name='window'>
          {% for win in window_options %}
            {% if win == window %}
              <option selected='selected' value='{{ win.name }}'>
                {{ win.label }}
              </option>
            {% else %}
              <option value='{{ win.name }}'>
                {{ win.label }}
              </option>
            {% endif %}
          {% endfor %}
        </select>
      </form>
    </div>
  </div>
  {% for question in questions %}
    <h3>
      {{ forloop.counter }}. {{ question.name }}:
      <span id="question-{{ question.pk }}-heading-value-type">{{ value_type_selected|title }}</span>
    </h3>

    {% if question.date_list %}
      <div id='chart_{{ question.pk }}' class='chart' data-window-max='{{ window_max }}' data-window-min='{{ window_min }}' ></div>
      <script>
        $(function () {
          $('#chart_{{ question.pk }}').highcharts({
              title: {
                  text: ''
              },
              xAxis: {
                categories: [
                            {% for date in question.date_list %}
                              '{{ date }}'{% if not forloop.last %},{% endif %}
                            {% endfor %}
                            ]
              },
              series: [
                  {
                  type: 'area',
                  name: '{{ question.name }}',
                  {% if value_type_selected|lower ==  "sum" %}
                    data: {{ question.answer_sum_list }}
                  {% elif value_type_selected|lower ==  "average" %}
                    data: {{ question.answer_average_list }}
                  {% elif value_type_selected|lower ==  "response rate" %}
                    data: {{ question.response_rate_list }}
                  {% endif %}
                }
              ]
          });
      });
      </script>
      <table class="table table-striped">
        <tbody>
          <tr class="read">
            <td class="read-half read-label">Mean</td>
            <td class="read-half read-value">{{ question.answer_mean }}</td>
          </tr>
          <tr class="read">
            <td class="read-half read-label">Standard Deviation</td>
            <td class="read-half read-value">{{ question.answer_stdev }}</td>
          </tr>
          <tr class="read">
            <td class="read-half read-label">Response Rate Average</td>
            <td class="read-half read-value">{{ question.response_rate_average }}%</td>
          </tr>
        </tbody>
      </table>
    {% else %}
      <div class="chart-no-data">No data for this date window.</div>
    {% endif %}

  {% endfor %}
{% endblock %}
{% block extra-script %}
<script type='text/javascript'>
    // <![CDATA[
    function onWindowChange(ctrl) {
      ctrl.form.submit();
    }
    function onValueTypeChange(ctrl) {
      valueType = $("#value-type-select :selected").text().toLowerCase();
      if (valueType == "sum") {
          {% for question in questions %}
            var chart = $('#chart_{{ question.pk }}').highcharts();
            chart.series[0].setData({{ question.answer_sum_list }});
            $("#question-{{ question.pk }}-heading-value-type").html("Sum");
          {% endfor %}
      }
      else if (valueType == "average") {
          {% for question in questions %}
            var chart = $('#chart_{{ question.pk }}').highcharts();
            chart.series[0].setData({{ question.answer_average_list }});
            $("#question-{{ question.pk }}-heading-value-type").html("Average");
          {% endfor %}
      }
      else if (valueType == "response rate") {
          {% for question in questions %}
            var chart = $('#chart_{{ question.pk }}').highcharts();
            chart.series[0].setData({{ question.response_rate_list }});
            $("#question-{{ question.pk }}-heading-value-type").html("Response Rate");
          {% endfor %}
      }
    }
    // ]]>
</script>
{% endblock %}
