- extends "smartmin/base.html"
- load smartmin i18n

- block pre-content

  {% include 'polls/poll_header.haml' with poll=object %}

- block content
  .
    - if not request.region
      - trans "Charts only include data from non-regional poll runs"

    .pull-away
      %form.form-inline{ method:"get" }
        %label.control-label{ for:"window-select" }
        - trans "Show"
        %select.form-control{ id:"window-select", name:"window", onchange:"onChartWindowChange(this)" }
          - for win in window_options
            - if win == window
              %option{ value:"{{ win.name }}", selected:"selected" }
                {{ win.label }}
            - else
              %option{ value:"{{ win.name }}" }
                {{ win.label }}


  - for question in questions
    %h3
      {{ question.order }}. {{ question.text }}

    .chart{ data-question-id:"{{ question.pk }}", data-chart-type:"{{ question.chart_type }}", data-window-min:"{{ window_min }}", data-window-max:"{{ window_max }}", dir:"ltr", data-unit-text:"{{ question.text }}" }

    %script{ type:"text/javascript" }
      var chart_{{ question.pk }}_data = {{ question.chart_data }};


- block extra-script
  :javascript
    function onChartWindowChange(ctrl) {
      ctrl.form.submit();
    }