- extends "smartmin/list.html"
- load smartmin i18n

- block pre-content

  {% include 'polls/issue_header.haml' with issue=issue %}

  .clearfix
    - if request.region and not issue.region
      - blocktrans with region=request.region
        These are the responses for <strong>{{ region }}</strong>

    .buttons.pull-away
      %a.btn.btn-default{ href:"{{ request.path }}?_format=csv" }
        %span.glyphicon.glyphicon-download
        - trans "Download"
