- extends "smartmin/list.html"
- load smartmin i18n

- block table-buttons
  - if org_perms.profiles.profile_user_create
    %a.btn.btn-default.pull-right{ href:"{% url 'profiles.user_create' %}" }
      %span.glyphicon.glyphicon-plus
      - trans "Add"