- load i18n
- load utils

.page-header
  %h2
    {{ contact }}

.clearfix
  - if org_perms.contacts.contact_update or org_perms.contacts.contact_delete
    .btn-group.pull-away
      - if org_perms.contacts.contact_update
        %a.btn.btn-default{ href:"{% url 'contacts.contact_update' contact.pk %}" }
          %span.glyphicon.glyphicon-pencil
          - trans "Edit"
      - if org_perms.contacts.contact_delete
        %button.btn.btn-default{ type:"button", data-toggle:"modal", data-target:"#confirm-delete-dialog" }
          %span.glyphicon.glyphicon-trash
          - trans "Delete"

  %ul.nav.nav-tabs{ style:"margin-bottom: 1em" }
    %li{ class:"{% if_url 'contacts.contact_read' 'active' '' %}" }
      %a{ href:"{% url 'contacts.contact_read' contact.pk %}" }
        - trans "Summary"
    %li{ class:"{% if_url 'polls.response_by_contact' 'active' '' %}" }
      %a{ href:"{% url 'polls.response_by_contact' contact.pk %}" }
        - trans "Responses"
    %li{ class:"{% if_url 'msgs.message_by_contact' 'active' '' %}" }
      %a{ href:"{% url 'msgs.message_by_contact' contact.pk %}" }
        - trans "Messages"

%form#delete-form{ method:"post", action:"{% url 'contacts.contact_delete' contact.pk %}" }
  {% csrf_token %}

.modal.fade{ role:"dialog", id:"confirm-delete-dialog" }
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ type:"button", data-dismiss:"modal" }
          &times;
        %h4.modal-title
          - trans "Confirm"
      .modal-body
        - trans "Are you sure that you want to delete this contact?"
      .modal-footer
        %button.btn.btn-default{ type:"button", data-dismiss:"modal" }
          -trans "Cancel"
        %button.btn.btn-danger{ type:"button", onclick:"onConfirmDelete()" }
          -trans "Delete"

- block extra-script
  :javascript
    function onConfirmDelete() {
      $('#delete-form').submit();
    }
