- extends "smartmin/read.html"
- load smartmin i18n

- block pre-content

  {% include 'contacts/contact_header.haml' with contact=object %}

- block read-buttons
  .btn-group.pull-away
    %a.btn.btn-default{ href:"{{ edit_button_url }}" }
      %span.glyphicon.glyphicon-pencil
      - trans "Edit"
    %button.btn.btn-default{ type:"button", data-toggle:"modal", data-target:"#confirm-delete-dialog" }
      %span.glyphicon.glyphicon-trash
      - trans "Delete"

  %form#delete-form{ method:"post", action:"{{ delete_button_url }}" }
    {% csrf_token %}

  .modal.fade{ role:"dialog", id:"confirm-delete-dialog" }
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{ type:"button", data-dismiss:"modal" }
            &times;
          %h4.modal-title
            - trans "Confirm"
        .modal-body
          - trans "Are you sure that you want to delete this contact?"
        .modal-footer
          %button.btn.btn-default{ type:"button", data-dismiss:"modal" }
            -trans "Cancel"
          %button.btn.btn-danger{ type:"button", onclick:"onConfirmDelete()" }
            -trans "Delete"

- block extra-script
  :javascript
    function onConfirmDelete() {
      $('#delete-form').submit();
    }